/* Center the container */
.forgot-password-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background: linear-gradient(135deg, #000000, #ffffff);
  animation: fadeIn 0.8s ease-in-out;
}

/* Form styling */
.forgot-password-form {
  background-color: #fff;
  padding: 20px 30px;
  border-radius: 50px;
  box-shadow: 0 8px 20px rgba(0, 0, 0, 0.2);
  width: 100%;
  max-width: 400px;
  animation: scaleUp 0.5s ease;
}

.forgot-password-form h2 {
  font-weight: normal;
  font-size: 32px;
  margin-bottom: 20px;
  color: #333333ee;
  text-align: center;
  font-family: "Arial", sans-serif;
}

/* Input and button styling */
.forgot-password-form input,
.forgot-password-form select {
  width: 100%;
    padding: 10px 30px;
      margin-bottom: 15px;
      border: 1px solid #f77d0b;
      border-radius: 10px;
      z-index: 1;
      font-size: 16px;
    }
.forgot-password-form select{
  padding-left: 140px;
}

.forgot-password-form button {
  width: 100%;
  padding: 12px;
  background-color: #ff9d00;
  color: #fff;
  border: none;
  border-radius: 50px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.forgot-password-form button:hover {
  background-color: #cf7d0b;
}

/* Error and success messages */
.error {
  color: #fc0800;
  background-color: #ffffff;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
  text-align: center;
}

.success {
  color: #28a745;
  background-color: #e7f9e7;
  padding: 10px;
  border-radius: 5px;
  margin-bottom: 10px;
  text-align: center;
}

/* Animations */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

@keyframes scaleUp {
  from {
    transform: scale(0.9);
  }
  to {
    transform: scale(1);
  }
}
