.otp-verification-container {
  display: flex;
  /* justify-content: center;
  align-items: center; */
  padding: 50px;
  height: 100vh;
  background-color: #ffffff;
  flex-direction: column;
}

h2 {
  margin-bottom: 20px;

  font-size: 2rem;
  font-weight: normal;
  color: #f77205;
  animation: fadeIn 1s ease-in-out;
}

.input-group {
  width: 250px;
  display: flex;
  flex: 1;
  padding: 10px;
  margin-top: 8rem;
  margin-left: 34rem;
  outline: none;
  transition: border-color 0.3s ease;
}

.otp-input {
  width: 50px;
  padding: 18px;
  height: 60px;
  border: 1px solid #ccc;
  margin: 5px;
  font-size: 1.2rem;
  border-radius: 8px;
}

input:focus {
  border-color: #ff9900;
}

.submit-btn {
  padding: 10px 20px;
  font-size: 1.2rem;
  background-color: #ffa600;
  color: white;
  margin-left: 33rem;
  border: none;
  border-radius: 8px;
  cursor: pointer;
  width: 20%;
  margin-top: 10px;
  margin-bottom: 50px;
  transition: background-color 0.3s ease;
}

.submit-btn:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

.submit-btn:hover {
  background-color: #daaa0e;
}

.verification-footer {
  margin-left: 30rem;
  font-size: 4px;
}
.first-footer {
  font-size: 5px;
}

.error {
  color: #ff0c04;
  background-color: #f9e7e7;
  padding: 10px;
  border-radius: 5px;
  margin-top: 10px;
  text-align: center;
}

.success {
  color: #28a745;
  background-color: #e7f9e7;
  padding: 10px;
  border-radius: 5px;
  margin-top: 10px;
  text-align: center;
}

/* Animation */
@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}
